.product-detail .product-head {
  padding: 10px;
  font-weight: 500;
}

.product-detail .table th {
  width: 152px;
}

.product-ship {
  height: 15rem;
}


.dropdown-menu {
  min-width: 0rem;
  width: 4rem;
  margin-left: 0rem;
}


.dropdown-toggle{
width: 4rem;
}

.nav-link{
padding: 0rem;
}

.content{
  display: grid;
  grid-template-columns: 5rem 4rem;
}

.center{
  text-align: center;
}

.suelo{
  padding-bottom: 6rem;
}
