<br />
<div class="suelo">
    <div>
        <p class="title">
          Historia
        </p>
        <div class="subTitle">
          YAK BRAKE , es una empresa familiar pensada y soñada durante los años 2017-2018, fundada el 19 de Febrero de 2019. El sueño: crear una marca para ciclistas que portara ímpetu,espíritu y la fuerza ancestral de nuestra historia.
          <br/> <br/>
      A comienzos del año 2019, después de más de 10 años de experiencia en las alturas y campo automotor, los fundadores de YAK BRAKE diseñan una pastilla de freno para ciclistas que cuenta con las cualidades para cubrir una necesidad latente del mercado,teniendo como principales características: resistencia,durabilidad y sobre todo capacidad de adaptación multiterreno.
      <br/> <br/>
      Así como el YAK nativo de las montañas más altas del mundo, el mamífero más fuerte del Himalaya, nuestros productos y nuestra empresa se identifican con la FUERZA, la ENERGÍA y la capacidad de adaptación a condiciones extremas.
      <br/> <br/> 
      </div>
      </div>
      
      <div>
        <p class="title">
          ¿Quienes Somos?
        </p>
        <div class="subTitle">
          Somos una marca de pastillas de freno de bicicletas para todo tipo de terreno,moduladas y diseñadas minuciosamente para adaptarse a múltiples tipos de terrenos y condiciones, brindándole una versatilidad única dentro de la gama de pastillas de bicicletas disponibles en el mercado actual.
          <br/> <br/>
          Nos enfocamos en brindar la mayor resistencia posible para una frenada 100% segura, bajo los estándares de 2 certificaciones internacionales que así lo avalan.
          <br/> <br/>
        </div>
      </div>
      <div>
        <p class="title">
          Misión
        </p>
        <div class="subTitle">
          Transmitir y materializar la filosofía YAK a a través de la calidad y potencia que brindan los repuestos en su impecable performance,convirtiéndose en la primera opción tanto para el ciclista de competición como para el ciclista recreacional.
          <br/> <br/>
        </div>
      </div>
      <div>
        <p class="title">
          Visión
        </p>
        <div class="subTitle">
          Posicionarse nacional e internacionalmente como una compañía líder en frenos para bicicletas y distribución de repuestos de moto comprometida social y ambientalmente, desde su filosofía del YAK; la tenacidad sera siempre nuestra herramienta principal para alcanzar todos nuestros objetivos.
          <br/> <br/>
        </div>
      </div>
      
      <div>
        <p class="title">
          Valores Corporativos
        </p>
        <div class="subTitle">
          Amor y esmero en cada paso y proceso ejecutado.
          <br/> <br/>
          Respeto y trato ético hacia todos nuestros colaboradores,clientes,aliados e incluso competidores.
          <br/> <br/>
          Comunicación como eje principal de cada vinculo comercial.<br/> <br/> 
      </div>
      </div>
</div>

